# --- Java & Build Tools ---
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
target/
*.class
*.log

# --- IDE Specific (IntelliJ, VS Code, STS) ---
.idea
*.iws
*.iml
*.ipr
out/
.vscode/
.classpath
.project
.settings
.factorypath
bin/

# --- Kotona Project Specific (보안 및 데이터) ---
# 이 파일들이 깃허브에 올라가지 않도록 주의
application-secret.yml
application-api.yml

# Docker DB 데이터
mysql_data/
docker/db/data/

# OS Specific
.DS_Store
Thumbs.db

# Security
.env
*.json

# Google Cloud Service Account Key (Security)
google-key.json