services:
  db:
    image: mysql:8.0
    container_name: kotona-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: kotona_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: user123
    volumes:
      - ./mysql_data:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci